#about {
    width: 100%;
}

#about .section .subsection {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#about .section {
    padding: 80px 100px;
}

#about .section.first {
    display: flex;
    background-color: #E7E7E7;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}

#about .info {
    display: flex;
    width: 60%;
    flex-direction: column;
    font-weight: 200;
    font-size: 23px;
}

#about ul {
    list-style-position: outside;
    padding-left: 1.2em;
    margin: none;
    font-weight: 200;
    font-size: 23px;    
    gap: 8px;   
    display: flex;
    flex-direction: column;
}

#about .title {
    font-size: 23px;
    font-weight: 600;
    margin: 30px 0;
}
#about .subsection img {
    border-radius: 20px;
    height: 274px;
    max-height: 350px;
}

#about hr {
    height: 2px;
    background-color: #303030;
}

#about .section.second .subsection {
    flex-direction: column;
    width: 64%;
    font-size: 16px;
}

#about .subsection .subtitle {
    font-size: 23px;
    font-weight: 200;
    margin-bottom: 30px;
}

#about .section.second {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
    background-image: url('./assets/tree-in-pot.jpg');
    min-height: 1100px;
    background-size: cover; 
    background-position: bottom right;
    background-repeat: no-repeat;
    gap: 50px;
    
}