#about {
    background-color: #E7E7E7;
    padding: 80px 100px;
}

#about .section .subsection {
    display: flex;
    justify-content: space-between;
}

#about .section.first {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

#about .info {
    display: flex;
    width: 60%;
    flex-direction: column;
    font-weight: 200;
    font-size: 23px;
}

#about .info ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 1.2em;
    margin: none;
    list-style-position: outside;
}

#about .title {
    font-size: 23px;
    font-weight: 600;
    margin: 30px 0;
}
#about .subsection img {
    border-radius: 20px;
    height: 274px;
    max-height: 350px;
}

#about hr {
    height: 2px;
    background-color: #303030;
}