#participants {
    display: flex;
    flex-direction: column;
    background-color: #F1F3EE;
    justify-content: center;
    align-items: center;
}

#work-sample {
    display: grid;
    width: 80%;
    grid-template-columns: 1.5fr 1.5fr;
    align-items: center;
    margin: 0 auto;
}

#work-sample img {
    grid-column: 1 / -1;
    grid-row: 1;
    max-width: 100%;
    z-index: 1;
}

#work-sample .quote {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
    z-index: 2;
    justify-self: center; 
    align-self: center;
    justify-content: space-between;
    font-size: 21px;
    gap: 40px;
    color: white;
    height: 200px;
    width: 80%;
    padding: 0 20px;
    text-align: justify;
}

#work-sample figcaption {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#soon-message {
    display: flex;
    flex-direction: column;
    color: #1B12F5;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#soon-message .title {
    font-weight: 300;
    font-size: 24px;
}

#soon-message .soon {
    font-weight: 800;
    font-size: 220px;
}

#soon-message p {
    font-weight: 200;
    text-align: center;
    font-size: 32px;
    max-width: 60%;
}

#soon-message .contact {
    margin-top: 90px;
    margin-bottom: 140px;
    font-weight: 800;
    font-size: 32px;
}

#soon-message .contact .email {
    /* Remove the default underline */
    text-decoration: none;
    
    /* Create a custom underline using a border */
    border-bottom: 2px solid #1B12F5; /* Thinner line (1px) */
    
    /* Control the space between text and line */
    
    /* Optional: ensures padding works correctly on an inline element */
    display: inline-block; 
}