#participants {
    display: flex;
    flex-direction: column;
    background-color: #F1F3EE;
    justify-content: center;
    align-items: center;
}

#work-sample {
    display: grid;
    width: 80%;
    grid-template-columns: 1.5fr 1.5fr;
    align-items: center;
    margin: 0 auto;
}

#work-sample img {
    grid-column: 1 / -1;
    grid-row: 1;
    max-width: 100%;
    z-index: 1;
}

#work-sample .quote {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
    z-index: 2;
    justify-self: center; 
    align-self: center;
    justify-content: space-between;
    font-size: 21px;
    gap: 40px;
    color: white;
    height: 200px;
    width: 80%;
    padding: 0 20px;
    text-align: justify;
}

#work-sample figcaption {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}