@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV@100..900,0&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
    --main-color: #1B12F5;
    --first-text-size: clamp(16px, 2vw, 20px);
    --second-text-size: clamp(18px, 2.5vw, 24px);
    --third-text-size: clamp(20px, 3vw, 30px);
    --fourth-text-size: clamp(22px, 3.5vw, 32px);
    --fifth-text-size: clamp(30px, 5vw, 48px);
    --sixth-text-size: clamp(100px, 20vw, 220px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

.geologica {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 1,
    "SHRP" 0;
}

.dm-sans-serif {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.wrap {
    width: 80%;
}

.email:hover {
    color: #423bff;
    transition: 300ms ease-in-out;
}